:root {
    --black: rgba(0, 0, 0, 0.7);
    --console: #808082;
    --consoleGreen: #22c941;
    --consoleRed: #fd605a;
    --consoleYellow: #ffbb2e;
    --darkGray: #1e1e1e;
    --gray: #212528;
    --lightConsole: #a3a3a3;
    --lightWhite: rgba(255, 255, 255, 0.9);
    --linkConsole: #14b5d0;
    --tranInfo: 0.25s linear;
    --white: #fff;
}

html {
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 24px;
    width: 100%;
}

.header {
    color: var(--darkGray);
    font-family: "Righteous", cursive;
    font-size: 20px;
    letter-spacing: 0.1rem;
    margin: 24px 0;
    text-align: center;
    text-transform: uppercase;
}

.projects__list {
    display: grid;
    grid-gap: 24px;
    padding-bottom: 12px;
}

.project {
    background: var(--gray);
    border-radius: 16px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    color: var(--lightConsole);
    font-family: "Roboto Mono", monospace;
    font-size: 16px;
    line-height: 24px;
    overflow: hidden;
}

.project__info {
    column-gap: 12px;
    display: grid;
    grid-template-columns: 120px 1fr;
}

.project__label {
    color: var(--console);
    display: block;
    text-align: right;
}

.project__info--title {
    font-size: 16px;
    font-weight: normal;
}

.project__window {
    align-items: center;
    background: var(--darkGray);
    display: flex;
    height: 40px;
    padding-left: 16px;
}

.project__circle {
    border-radius: 50%;
    display: block;
    height: 8px;
    margin-right: 8px;
    width: 8px;
}

.project__circle--red {
    background: var(--consoleRed);
}

.project__circle--yellow {
    background: var(--consoleYellow);
}

.project__circle--green {
    background: var(--consoleGreen);
}

.project__content::before {
    content: url(../img/GitHub-logo-white.png);
    left: 16px;
    position: absolute;
    top: 12px;
}

.project__content {
    padding: 48px 16px 24px;
    position: relative;
}

.project__detail--margin {
    margin-top: 24px;
}

.project__description--title {
    color: var(--white);
    font-weight: bold;
}

.project__link {
    color: var(--linkConsole);
}

.modal {
    align-items: center;
    backdrop-filter: blur(0);
    background-color: var(--black);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    opacity: 0;
    overflow: auto;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
}

.modal--active {
    backdrop-filter: blur(5px);
    opacity: 1;
    pointer-events: all;
}

.modal__content {
    align-items: center;
    background-color: var(--lightWhite);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 10px;
    color: var(--darkGray);
    display: flex;
    font-family: "Roboto Mono", monospace;
    font-size: 18px;
    font-weight: bold;
    justify-content: center;
    letter-spacing: 0.1rem;
    line-height: 32px;
    max-width: 1440px;
    padding: 30px;
    position: relative;
    text-align: center;
    width: 90%;
}

.modal__content--active {
    transform: scale(1);
}

@media only screen and (min-width: 768px) {
    .header {
        font-size: 24px;
        margin: 36px 0;
    }

    .modal__content {
        padding: 80px;
        width: 70%;
    }
}

@media only screen and (min-width: 960px) {
    body {
        width: 90%;
    }

    .project__info {
        grid-template-columns: 140px 1fr;
    }

    .projects__list {
        grid-template-columns: 1fr 1fr;
    }

    .project {
        font-size: 18px;
    }

    .project__info-title {
        font-size: 18px;
    }

    .project__link {
        transition: color var(--tranInfo);
    }

    .project__link:hover {
        color: var(--white);
    }
}

.projects__list--1col {
    grid-template-columns: 1fr;
}

.project--prototype {
    display: none;
}
